/*Donate Widget CSS*/

.donate-widget {
  position:fixed;
  top: calc(50%-1.75rem);
  right:0;
}

.donate-widget a {
  color: white;
  font-size: 1.5rem;
  line-height: 1;
  padding:1rem;
  background:#ffffff;
  border-radius: 0.5rem 0 0 0.5rem;
}

.donate-widget a:hover {
  text-decoration: none;
  background: rgba(50,50,50,0.7);
}
