a{
style: none;
}

h2{
  padding-top: 55px;
}

body{
background-color: #f4b942;
font-family: Helvetica;
margin: 0px;
padding: 0px;
border: 0px;
}

section{
height: calc(100vh - 0.2rem );
width: auto;
padding-right: 30px;
}

#logo-nav{
background-color: white;
top: 0px;
left: 0px;
position: fixed;
width: 100%;
height: 50px;
padding-left: 1rem;
}

.donate-widget{
margin: 0;
border: 0;
padding: 0;
top: 50%;
right: 0;
background-color: rgba(0,0,0,.65);
height: 4rem;
width: 12rem;
position: fixed;
display: inline;
border-top-left-radius: 10%;
border-bottom-left-radius: 10%;
}

.donate-widget a{
font-size: 1.5rem;
line-height: 4rem;
padding-left: 2rem;
}

#logo-nav{
align-items: center;
}

.flex-container{
display: flex;
flex-wrap: wrap;
}

#section-nav{
margin-top: 6rem;
height: 21rem;
  text-align: center;
}

#section-nav ul{
  list-style: none;

}

#section-nav li{
  display: inline;
  padding: 2rem;
}

#bottom-nav{
height: 50px;
padding-top: 0.8rem;
background-color: #f49242;
}

 #bottom-nav ul{
  list-style: none;
  padding: none;
  text-align: center;
}

 #bottom-nav li{
  display: inline;
  font-size: 1.2rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

#who-we-are{
background-color: rgb(252, 200, 0);
padding-left: 30px;
}

#programmes{
background-color: rgb(252, 189, 0);
padding-left: 30px;
}

#ethos{
background-color: rgb(252, 177, 0);
padding-left: 30px;
}

#fundraising{
background-color: rgb(252, 154, 0);
padding-left: 30px;
}

#footer{
  height: 10rem;
  width: 100%;
  background-color: white;
  margin: 0px;
  padding-left: 30px;
  border: 0px;
  position: fixed;
  top: 480px;
  text-align: center;
}

#footer p{
  padding: .75rem;
  padding-left: 30px;
  line-height: 1rem;
  padding-top: 1.1rem;
  font-size: 1.2rem;
}
