html{zoom:100%}

a{style: none;}

h2{padding-top: 55px;}

body{background-color: #f4b942;font-family: Arial ;margin: 0px;padding: 0px;border: 0px;}

section{height: calc(100vh - 0.2rem );width: 100%;padding-right: 30px;}

#logo-nav{background-color: white;top: 0px;left: 0px;position: fixed;width: 100%;height: 3.5rem;padding-left: 1rem;}

.donate-widget{top: calc(50% - 4rem);right: 0;background-color: rgba(0,0,0,.65);height: 4rem;width: 12rem;position: fixed;display: inline;border-radius: 7.5% 0 0 7.5%;text-align: center;vertical-align: center;}

.donate-widget a{font-size: 1.5rem;line-height: 4rem;}

#section-nav{margin-top: 6rem;height: calc(100vh - 7rem - 8rem);width: 100%;text-align: center; padding-right: 0px;}

#section-nav h1{font-size: 60px;}

#section-nav ul{list-style: none; text-align: center; display: flex; height: 10rem;}

#section-nav li{display: inline;  padding-right: 3rem; padding-left: 3rem; border-right: solid;}

#bottom-nav{height: 3.5rem;padding-top: 0.8rem;background-color: #f49242;}

 #bottom-nav ul{  list-style: none; text-align: center;}

 #bottom-nav li{font-size: 1.2rem;  padding-left: 5rem;  padding-right: 5rem; text-align: center; display: inline;}

#who-we-are{background-color: rgb(252, 200, 0);padding-left: 30px;}

#programmes{background-color: rgb(252, 189, 0);padding-left: 30px;}

#ethos{background-color: rgb(252, 177, 0);padding-left: 30px;}

#fundraising{background-color: rgb(252, 154, 0);padding-left: 30px;}

#footer{  height: 8rem;  width: 100%; background-color: white;  margin: 0px;  border: 0px;  position: fixed;  display: inline-block;  vertical-align: bottom;  top: calc(100vh - 6.1rem);  text-align: center;}

#footer p{  padding: .75rem;  line-height: 1rem;  padding-top: 1.1rem;  font-size: 1.2rem;}
