/* Main website layout */

main section {
    margin-bottom: 20rem;
}




/* Simple show and hide navigation widget */

.nav-toggle {
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    line-height: 1;
    position: fixed;
    top: 0;
    right: 0;
    cursor: pointer;
}

.nav-box {
    position: fixed;
    top: 3.5rem;
    background: black;
    height: 100%;
    width: 20rem;
    padding: 3rem;
    transition: all 0.5s ease;
}

#programmes h1 {
    color: red;
}

.nav-box.closed {
    right: -20rem;
}

.nav-box.open {
    right: 0;
 }

nav.primary ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.primary a {
    display: block;
    font-size: 2rem;
}


/* Donate Widget CSS */

.donate-widget {
    position: fixed;
    top: calc(50% - 1.75rem);
    right: 0;
}

.donate-widget a {
    color: white;
    font-size: 1.5rem;
    line-height: 1;
    display: block;
    padding: 1rem;
    background: rgba(0,0,0,.7);
    border-radius: 0.5rem 0 0 0.5rem;
}

.donate-widget a:hover {
    text-decoration: none;
    background: rgba(50,50,50,0.7);
}