
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    background-color: 201, 215, 253;
    font-family: 'Montserrat', sans-serif;
    padding-top: 8rem;
  }
/* Main website layout */

header {
    position: fixed;
    background-color: white;
    height: 8rem;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    color: #F5822C;
}

h1 {
    color: #F5822C;
}

main section {
    margin-bottom: 20rem;   
}

header #logo-img {
       width: 40%;
       margin: auto;
       display: block;
}

@media (min-width: 600px) {
    header #logo-img {
        width: 30%;
 }
}

/* 
Accessible show and hide nav widget */
.nav-toggle {
    display: inline;
    padding: 1rem;
    font-size: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    line-height: 1;
    cursor: pointer;
    color:#F5822C;
}

.nav-toggle:hover {
    color: rgba(5, 5, 5, 0.4);
}

.nav-box {
    position: fixed;
    top: 3.5rem;
    right: 0;
    background: black;
    height: 100%;
    width: 16rem;
    padding: 1.5rem;
    transition: all 1s ease;
    border-radius: 0.5rem 0 0 0.5rem;
}

.nav-box.open {
    right: 0;
}

.nav-box.closed {
    right: -20rem;
}

nav.primary-nav ul {
    color:#F5822C;
    list-style: none;
    font-size: 1.5rem;
    margin:0;
    padding: 0;
    text-decoration: none;
}

nav.primary-nav a {
    color: #F5822C;
    transition: all 0.5s ease;
}

nav.primary-nav a:hover {
    display: block;
    font-size: 1.7rem;
    text-decoration: none;
    color: rgba(255, 255, 255);
    transition: all 0.5s ease;
}

.donate-widget {    
    position: fixed;
    top: calc(50% - 2rem);
    left: 0;
    color: rgba(20, 20, 20, 0.7);
  }

.donate-widget a {
    color: white;
    font-size: 1.5rem;  
    line-height: 1;
    padding: 1rem;
    border-radius: 0 6rem 6rem 0;
    background-color: rgba(20, 20, 20, 0.7); 
}

.donate-widget a:hover {
    text-decoration: none;
    background: rgba(5, 5, 5, 0.4);
}

.btn-primary {
    background: #F5822C;
    border: #F5822C;
}

a.btn-primary:hover {
    background:rgba(5, 5, 5, 0.4); 

}
